.pie-chart{
    width: auto;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #DEE3E4;
    margin-top: 15px;
    padding-right: 25px;
}
.pie-chart__title{
    border-bottom: 1px solid #DEE3E4;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 24px;
}
.pie-chart__chart{
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 350px;
}