.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.wallet__wrapper {
    display: flex;
    justify-content: space-between;
}
.wallet__cards {
    display: flex;
    justify-content: space-between;
}
.wallet__right {
    max-width: 600px;
}
@media (max-width: 1030px) {
    .wallet__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 560px) {
    .wallet__cards {
        flex-direction: column;
    }
    .wallet__right {
        width: 100%;
    }
}