.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.money-box__row{
    display: flex;
    justify-content: space-between;
}
.money-box__col {
    width: 100%;
    margin: 0 10px;
}
.money-box__cards {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1055px) {
    .money-box__col {
        margin: 0 2px;
    } 
}
@media (max-width: 965px) {
    .money-box__row{
        flex-direction: column;
        align-items: center;
    }
    .money-box__col {
        max-width: 600px;
        margin: 0 10px;
    }
    .money-box__cards {
        justify-content: space-around;
    }
}
@media (max-width: 550px) {
    .money-box__cards{
        flex-direction: column;
    }
}