.wallet-table {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dee3e4;
    max-width: calc(50vw);
}
.wallet-table__title {
    padding: 10px 10px;
    font-weight: 700;
    font-size: 24px;
}
.wallet-table__content,
.wallet-table__headers-row {
    border-top: 1px solid #dee3e4;
    border-bottom: 1px solid #dee3e4;
    border-collapse: collapse;
    width: 100%;
}
.wallet-table__headers-row th,
.wallet-table__row td {
    padding: 10px 8px;
}
.wallet-table__headers-row th span {
    padding-left: 5px;
}
.wallet-table__headers-row th input {
    width: 150px;
    height: 25px;
    border: none;
    border-bottom: #979797 solid 3px;
    font-size: 16px;
}

.wallet-table__headers-row th input:focus {
    border-bottom: #ff4a00 solid 3px;
    outline: none;
}

.wallet-table__headers-row th input::placeholder {
    color: #979797;
    font-size: 16px;
}
.wallet-table__headers-row th button {
    width: 48px;
    height: 29px;
    background-color: #ff4a00;
    font-weight: 700;
    color: #ffffff;
    border: none;
    margin-left: 3px;
    font-size: 27px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.wallet-table__headers-row th button:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.wallet-table__row:nth-child(odd) {
    background-color: rgba(221, 226, 227, 0.4);
}
.wallet-table__row {
    border-top: 1px solid #dee3e4;
    border-bottom: 1px solid #dee3e4;
}
.wallet-table__row:hover {
    background-color: rgba(255, 74, 0, 0.2);
}
.delete {
    font-size: 20px;
    line-height: 0;
    padding-left: 45px;
    cursor: pointer;
    color: #ff4a00;
    font-weight: 900;
}
.placeholder {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #979797;
    margin-bottom: 10px;
}

@media (max-width: 1150px) {
    .wallet-table__headers-row th input {
        width: 100px;
    }
}
@media (max-width: 1030px) {
    
    .wallet-table__headers-row th input {
        width: 150px;
    }
    .wallet-table {
        max-width: 600px;
        width: 100%;
        margin-bottom: 15px;
    }
}
@media (max-width: 580px) {
    .wallet-table {
        font-size: 14px;
    }
    .wallet-table__title {
        font-size: 18px;
    }
    .wallet-table__headers-row th button {
        width: 38px;
        height: 22px;
        line-height: 1;
    }
    .wallet-table__headers-row th input::placeholder {
        color: #979797;
        font-size: 14px;
    }
    .wallet-table__headers-row th,
    .wallet-table__row td {
        padding: 8px 4px;
    }
    .wallet-table__headers-row th input {
        width: 130px;
    }
}
@media (max-width: 460px) {
    .wallet-table__headers-row th input[type=date] {
        width: 100px;
    }       
}
@media (max-width: 430px) {
    .wallet-table__headers-row th input[type=date] {
        width: 70px;
    }       
}
@media (max-width: 400px) {
    .delete {
        padding-left: 5px;
    }
    .wallet-table__headers-row th input[type=date] {
        width: 50px;
    }
    .wallet-table__headers-row th input[type=text] {
        width: 80px;
    }         
}