.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.spendings__wrapper{
    display: flex;
    justify-content: space-between;
}
.spendings__cards {
    display: flex;
    justify-content: space-between;
}
.spendings__right {
    width: 600px;
}
@media (max-width: 1030px) {
    .spendings__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 560px) {
    .spendings__wrapper {
        flex-direction: column;
    }
    .spendings__right  {
        width: 100%;
    }
     .spendings__cards {
        flex-direction: column;
    }
}