.line-chart{
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #DEE3E4;
    margin-top: 15px;
    padding-right: 25px;
}
.line-chart__title{
    border-bottom: 1px solid #DEE3E4;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 24px;
}
.line-chart__chart{
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 350px;
}
.placeholder {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #979797;
    margin-bottom: 10px;
}
@media (max-width: 580px) {
    .line-chart{
        max-width: 500px;
        padding-right: 0;
        margin: 0 auto;
        margin-top: 5px;
    }
    .line-chart__title{
        font-size: 18px;
    }
    .line-chart__chart{
        padding: 2px;
    }
}
@media (max-width: 460px) {   
    .line-chart__chart{
        height: 250px;
    }
}
@media (max-width: 360px) {   
    .line-chart__chart{
        height: 240px;
        font-size: 12px;
    }
}